.album-grid {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	margin: -0.25rem;

	a {
		position: relative;
		margin: 0.25rem;
		line-height: 0;
		box-shadow: 0 0 var(--accent-color);
		transform: translate(0, 0);
		transition: transform 0.125s, box-shadow 0.125s;

		&:hover {
			z-index: 1;
			box-shadow: 8px 8px var(--accent-color);
			transform: translate(-4px, -4px);
		}
	}

	img {
		width: 100%;
	}
}
