p, ul, ol {
    margin-bottom: var(--spacing-3);
}

li {
    margin-left: var(--spacing-4);
}

ul li {
    list-style-type: initial;
}

ol li {
    list-style-type: decimal;
}

h1 {
    margin-top: var(--spacing-4);
    margin-bottom: var(--spacing-2);
    line-height: 1.1;
}

h2 {
    margin-top: var(--spacing-5);
    margin-bottom: var(--spacing-3);
}

h3 {
    margin-top: var(--spacing-4);
    margin-bottom: var(--spacing-2);
}

h4 {
    margin-bottom: var(--spacing-2);
}

.date {
    color: var(--mid-color);
}

aside, pre {
    margin-left: -var(--spacing-2);
    margin-right: -var(--spacing-2);
    margin-bottom: var(--spacing-3);
    padding: var(--spacing-2);
}

aside {
    background: var(--bg-color-2);
}

pre {
    overflow-x: auto;
}

audio {
    margin-bottom: -var(--spacing-2);
}

figure {
    text-align: center;
    margin-bottom: var(--spacing-3);
}
