:root {
	--bg-color: #111;
	--fg-color: #eee;
	--accent-color: #e81a53;
}

body {
	width: 100%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	background: var(--bg-color);
	color: var(--fg-color);
	font-family: 'Karla', sans-serif;
	font-size: 1.5em;
}

a {
	position: relative;
	z-index: 1;
	color: var(--accent-color);
	text-decoration: none;
	transition: color 0.1s;

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		right: 0;
		top: 0;
		width: 0;
		height: 100%;
		background: var(--accent-color);
		transition: width 0.2s;
	}

	&:hover {
		color: var(--bg-color);
		transition: color 0.1s 0.1s;

		&::before {
			left: 0;
			width: 100%;
		}
	}
}

img {
	width: 100%;
}

h2 {
	position: relative;
	z-index: 1;

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: -0.5em;
		width: calc(100% + 1em);
		height: 100%;
		background: var(--accent-color);
		transform: skewX(-15deg);
	}
}

h3 {
	margin: 0;
}

.collapse {
	background: #282828;
	margin-bottom: 1em;

	.collapse-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1em;
		background: #33333300;
		cursor: pointer;

		&:hover {
			background: #333333;
		}

		i {
			transition: transform 0.25s;
		}
	}

	.collapse-content-wrapper {
		max-height: 0;
		overflow-y: hidden;
		transition: max-height 0.25s;

		.collapse-content {
			padding-bottom: 1em;
	
			.collapse-text {
				padding-left: 1em;
				padding-right: 1em;
			}
	
			p:nth-last-child(1) {
				margin-bottom: 0;
			}
		}
	}

}

.screenshots {
	margin-bottom: 1em;

	.secondary-screenshots {
		display: flex;
	}
}
