:root {
	--bg-color: #e6e6e6;
	--bg-color-2: #dbdbdb;
	--bg-color-3: #d0d0d0;
	--bg-color-4: #d0d0d0;
	--fg-color: #111;
	--accent-color: #e81a53;
	--header-accent-color: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #111;
		--bg-color-2: #282828;
		--bg-color-3: #333;
		--bg-color-4: #444;
		--fg-color: #eee;
		--accent-color: #e81a53;
		--header-accent-color: var(--fg-color);
	}
}


body {
	margin: 0;
	background: var(--bg-color);
	color: var(--fg-color);
	font-family: 'Karla', sans-serif;
	font-size: 1.5em;
}

.container {
	width: 100%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

a:not(.special-link) {
	position: relative;
	z-index: 1;
	color: var(--accent-color);
	text-decoration: none;
	transition: color 0.1s;

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		right: 0;
		top: 0;
		width: 0;
		height: 100%;
		background: var(--accent-color);
		transition: width 0.2s;
	}

	&:hover {
		color: var(--bg-color);
		transition: color 0.1s 0.1s;

		&::before {
			left: 0;
			width: 100%;
		}
	}
}

h2 {
	position: relative;
	z-index: 1;
	color: var(--header-accent-color);

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: -0.5em;
		width: calc(100% + 1em);
		height: 100%;
		background: var(--accent-color);
		transform: skewX(-15deg);
	}
}

h3 {
	margin: 0;
}

.screenshots {
	margin-bottom: 1em;

	&.pixel-art img {
		width: 100%;
	}

	&:not(.pixel-art) img {
		max-width: 100%;
	}

	.primary-screenshot {
		display: flex;
		justify-content: center;
	}

	.secondary-screenshots {
		display: flex;
	}
}
