.collapse {
	background: var(--bg-color-2);
	margin-bottom: 1em;

	.collapse-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.75em;
		cursor: pointer;
		
		&:hover {
			background: var(--bg-color-3);
		}

		i {
			transition: transform 0.25s;
		}
	}

	.collapse-content-wrapper {
		max-height: 0;
		overflow-y: hidden;
		transition: max-height 0.25s;

		.collapse-content {
			padding-bottom: 0.75em;
	
			.collapse-text {
				padding-left: 0.75em;
				padding-right: 0.75em;
			}
	
			p:nth-last-child(1) {
				margin-bottom: 0;
			}
		}
	}
}
