.project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-color-2);
    padding: var(--spacing-3) var(--spacing-3);
    margin-top: var(--spacing-3);
    margin-bottom: var(--spacing-3);

    .links {
        flex-shrink: 0;
        margin-left: var(--spacing-3);

        .separator {
            &::after {
                content: '/';
                color: var(--mid-color);
            }
        }
    }
}

h2 {
    margin-top: var(--spacing-4);
	margin-bottom: var(--spacing-2);
}
