@import 'collapse', 'album-grid';

header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border-bottom: 2px solid var(--accent-color);

	.social-links {
		font-size: 1.5rem;
		
		a {
			color: var(--accent-color);
			text-decoration: none;

			&:hover {
				color: var(--fg-color);
			}
		}
	}
}

.description {
	font-weight: 300;
}

.tag {
	margin-left: 0.25rem;
	padding: 0.15rem 0.5rem;
	border-radius: 20px;
	background: var(--bg-color-4);
	font-size: 0.875rem;
	letter-spacing: -0.015em;
}
