@import 'collapse', 'album-grid';

header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-left: 1em;
	padding-right: 1em;
	border-bottom: 2px solid var(--accent-color);

	h1 {
		margin-bottom: 0;
	}

	.social-links {
		font-size: 1.25em;
		
		a {
			color: var(--accent-color);
			text-decoration: none;

			&:hover {
				color: var(--fg-color);
			}
		}
	}
}

.description {
	margin-left: 1em;
	font-size: 0.875em;
	font-weight: 300;
}

.tag {
	margin-left: 1em;
	padding: 0.15em 0.5em;
	border-radius: 20px;
	background: var(--bg-color-4);
	font-size: 0.75em;
}
