{% macro normal(section_name) %}
    {% set section = get_section(path=section_name ~ "/_index.md") %}
    <h2>{{ section.title }}</h2>
    <ul>
        {% for page in section.pages %}
            <li class="project">
                <div class="info">
                    <h3 class="title">{{ page.title }}</h3>
                    <p class="description">{{ page.extra.short_description }}</p>
                </div>
                <div class="links">
                    {% for link in page.extra.links %}
                        <a href="{{ link.url }}" target="_blank">{{ link.label }}</a>
                        {% if not loop.last %}
                            <span class="separator"></span>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro music(section_name) %}
	{% set section = get_section(path=section_name ~ "/_index.md") %}
	<h2>{{ section.title }}</h2>
	<div class="album-grid">
		{% for page in section.pages %}
			<a href="{{ page.extra.url }}" target="_blank" class="special-link">
				<img src="{{ page.extra.cover }}" alt="{{ page.title }} album art">
			</a>
		{% endfor %}
	</div>
{% endmacro %}
