.collapse {
	background: var(--bg-color-2);
	margin-bottom: 0.5em;

	.collapse-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.67rem;
		cursor: pointer;
		
		&:hover {
			background: var(--bg-color-3);
		}

		.header-content {
			display: flex;
			align-items: center;

			h3 {
				margin-right: 0.5rem;
			}
		}

		i {
			transition: transform 0.25s;
		}
	}

	.collapse-content-wrapper {
		max-height: 0;
		overflow-y: hidden;
		transition: max-height 0.25s;

		.collapse-content {
			padding-bottom: 0.67rem;
	
			.collapse-text {
				padding-left: 0.67rem;
				padding-right: 0.67rem;
			}
		}
	}
}
