{% extends "base.html" %}
{% import "macros/section_displays.html" as section_displays %}

{% block title %} Articles | Tesselode Labs {% endblock %}
{% block head %}
    <link rel="stylesheet" href="/articles.css">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Articles</h1>
    <ul>
        {% for page in section.pages %}
            <li>
                <h3 class="title">
                    <a href="{{ page.permalink | safe }}">
                        {{ page.title }}
                    </a>
                </h3>
                <p class="date">
                    Published {{ page.date | date(format="%B %d, %Y") }}
                    {% if page.extra.updated %}
                        | Updated {{ page.extra.updated | date(format="%B %d, %Y") }}
                    {% endif %}
                </p>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
