<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} {% endblock %}</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/base.css">
	<script src="https://kit.fontawesome.com/b65fab4862.js" crossorigin="anonymous"></script>
	{% block head %} {% endblock %}
</head>
<body>
	<a href="#main-content" id="skip-to-main-content-link">
		Skip to main content
	</a>
	<header>
		<a href="/" id="site-title">Tesselode Labs</a>
		<div class="social-links">
			{% for link in config.extra.social_links %}
				<a href="{{ link.url }}" target="_blank" class="special-link">
					<i class="{{ link.icon }}"></i>
				</a>
			{% endfor %}
		</div>
	</header>
	{# <div class="container">
		<nav>
			<ul>
				<li>
					{% if current_path == "/" %}
						Projects
					{% else %}
						<a href="/">Projects</a>
					{% endif %}
				</li>
				<li>
					{% if current_path == "/articles/" %}
						Articles
					{% else %}
						<a href="/articles">Articles</a>
					{% endif %}
				</li>
			</ul>
		</nav>
	</div> #}
	<span id="main-content"></span>
	{% block content %} {% endblock %}
</body>
</html>
