{% extends "base.html" %}
{% import "macros/section_displays.html" as section_displays %}

{% block title %} Tesselode Labs {% endblock %}
{% block head %}
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/album-grid.css">
{% endblock %}

{% block content %}
    <div class="container">
        {{ section_displays::normal(section_name="games") }}
        {{ section_displays::music(section_name="music") }}
        {{ section_displays::normal(section_name="audio_plugins") }}
        {{ section_displays::normal(section_name="gamedev_tools") }}
    </div>
{% endblock content %}
